.h2 {
    padding-bottom: 10px;
}

.historique {
    margin-right: -50px;
    margin-left: 10px;
}
.label{
    width: 300px;
  }

  .label {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacement entre les éléments */
  }
  
  .label label {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
  }
  
  .label select {
    margin-top: 30px;
    padding: 5px;
    border-radius: 4px;
  }
  
@media (max-width: 600px) {
    .historique {
        margin-right: -45px;
        margin-left: 15px;
        padding-bottom: 10px;

    }
    .label{
        width: 200px;
      }


     
  }

