.dash {
    padding: 10px;
  }
  
  .summar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  
  .carre {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .carre:hover {
    transform: scale(1.05);
  }
  
  .carre p {
    padding-top: 10px;
  }


/* Pour les écrans moyens (tablettes) */
@media screen and (max-width: 1024px) {
  .summar {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Pour les petits écrans (mobiles) */
@media screen and (max-width: 768px) {
  .summar {
    grid-template-columns: repeat(2, 1fr);
  }
  .carre {
    background: white;
    width: 165px;
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  .carre p {
    padding-top: 10px;
  }


}






  
/* Styles du popup */
.moda {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.last{
  font-weight: bold;
  
}
.moda-content {
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 500px;
  text-align: left;
  font-weight: 100;

}


.list {
  list-style: none;
  padding: 10px;
  font-weight: 100;

}

.list-item {
  padding: 5px 0;
  padding-bottom: 15px;
  font-weight: 100;

}

.close-btn {
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 50px;
  background: #e74c3c;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.close-btn:hover {
  background: #e74c3c;
}

.separator {
  border: none;
  height: 1px;
  background-color: #ccc; 
  margin-bottom: 20px;
  margin-top: 3px;

}
.fcfa{
  padding-bottom:20px
}